{% extends 'test.html' %}

{% load static %}

{% block title %}

    All products

{% endblock %}

{% block content %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Simmos Smarties</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all_product">All Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All Smarties
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/singleproduct/2">Blue Smarties</a>
                <a class="dropdown-item" href="/singleproduct/1">Green Smarties</a>
                <a class="dropdown-item" href="/singleproduct/3">Yellow Smarties</a>
                <a class="dropdown-item" href="/singleproduct/4">Black Smarties</a>
                <a class="dropdown-item" href="/singleproduct/5">Orange Smarties</a>
                <a class="dropdown-item" href="/singleproduct/7">Pink Smarties</a>
                <a class="dropdown-item" href="/singleproduct/6">Purple Smarties</a>
                <a class="dropdown-item" href="/singleproduct/8">Red Smarties</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">All Smarties</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_signup">Sign Up</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- Log in Log out -->
        {%  if user.is_authenticated %}
        <p>Hello {{ user.username }}</p>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}


    {% for p in products %}
        {% if added %}
        <h1>Added Product</h1>
    {% endif %}





    <div class="card" style="width: 18rem;">
      <img src="{{ p.picture.url }}">
      <div class="card-body">
        <h5 class="card-title">{{ p.name }}</h5>
        <p class="card-text">{{ p.description }}</p>
        <a href="/addbasket/{{ p.id }}" class="btn btn-primary">Buy - {{ p.price }}</a>
      </div>
    </div>
    {% endfor %}
    <style>
    .card-body{
        color: black;
    }
    .card-title{
        color: black;
    }
    .card-text{
        color: black;
    }
    img {
        width: 200px;
        height: 200px;
    }
    </style>
{% endblock %}

{% block footer %}
    <br><br><br>
<ul class="social-icons">
    <li><a href="https://www.facebook.com/SimmosSmarties"><img src="{% static 'imgs/facebook.png' %}" alt="Facebook"/></a></li>
    <li><a href="https://twitter.com/SimmosSmarties"><img src="{% static 'imgs/twitter.png' %}" alt="Twitter"/></a></li>
	<li><a href="https://www.instagram.com/simmos_smarties/"><img src="{% static 'imgs/instagram.png'%}" alt="Instagram"/></a></li>
	<li><a href="https://www.snapchat.com/add/SimmosSmarties"><img src="{% static 'imgs/snapchat.png'%}" alt="Snapchat"/></a></li>
</ul>

<h4 class="social-media-footer"> Follow us on social media with the links above </h4>
<a href="https://twitter.com/search?q=%23FreeTheSmarties&src=typed_query"><h6 class="freethesmartie"> #FreeTheSmarties </h6></a>


  <style>
.social-media-footer {
    text-align: center;
    font-size: 1.6em;
}
.social-icons {
  text-align: center;
}

.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select:none;
  -moz-user-select:none;
}

.social-icons li a {
  border-bottom: none;
}

.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 20px;
}
.freethesmartie {
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 1.3em;
}
    </style>

{%  endblock %}